@using Sabujcha.ViewModels;
@model FooterVM

<footer class="footer-area pt-75 gray-bg-3">
    <div class="footer-top gray-bg-3 pb-35">
        <div class="container">
            <div class="row">
                @foreach (FooterTitles ft in Model.FooterTitles)
                {
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-widget mb-40">
                            <div class="footer-title mb-25">
                                <h4>@ft.Title</h4>
                            </div>
                            <div class="footer-content">
                                <ul>

                                    @foreach (FooterContent fc in Model.FooterContents)
                                    {
                                        @if (ft.Id == fc.TitlesId)
                                        {
                                            <li><a asp-action="@fc.ActionName" asp-controller="@fc.ControllerName">@fc.Name</a></li>
                                        }
                                    }

                                </ul>
                            </div>
                        </div>
                    </div>
                }
                @*Contact Us bu hisse diger hisselerden ferqli database de saxlanilib .
                *@


                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-widget footer-widget-red footer-black-color mb-40">
                        <div class="footer-title mb-25">
                            <h4>@Model.FooterContact.Name</</h4>
                        </div>
                        <div class="footer-about">
                            <p>@Model.FooterContact.Title</p>
                            <div class="footer-contact mt-20">
                                <ul>
                                    <li>@Model.FooterContact.Phone</</li>

                                </ul>
                            </div>
                            <div class="footer-contact mt-20">
                                <ul>
                                    <li>@Model.FooterContact.Email</</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
@*    <div class="footer-bottom pb-25 pt-25 gray-bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="copyright">
                        <p class="copy-text">
                            © 2023 <strong>Tiens</strong> Made With <i class="fa fa-heart" style="color:red" aria-hidden="true"></i> By <a class="company-name" href="https://themeforest.net/user/codecarnival/portfolio">
                                <strong> CodeCarnival</strong>
                            </a>.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="payment-img f-right">
                        <a href="#">
                            <img alt="" src="~/assets/img/icon-img/payment.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</footer>