@using Sabujcha.Models;
@model List<Products>

@{
    ViewData["Title"] = "Index";
}



<table class="table">
    <thead>
        <tr>
            <th>
              Name
            </th>
            <th>
               Description
            </th>
            <th>
            NewPrice
            </th>
            <th>
                OldPrice
            </th>
            <th>
            Rate
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

       @foreach (Products item in Model)
        {

            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.NewPrice
                </td>
                <td>
                    @item.OldPrice
                </td>
                <td>
                    @if (@item.Rate==null)
                    {
                        <p>0%</p>

                    }
                    else
                    {
                        <p>@item.Rate%</p>
                    }
                </td>
                 <td>
                    <img alt="productsImage" src="~/assets/img/product/@item.ImageUlr">
                </td>
            </tr>
            <tr>

                <td>
                    <a asp-area="SabujchaAdminPanel" asp-controller="Products" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
                <td>
                    <a asp-area="SabujchaAdminPanel" asp-controller="Products" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                <td>
                    <a asp-area="SabujchaAdminPanel" asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
                <td>
                    <p>
                        <a asp-area="SabujchaAdminPanel" asp-controller="Products" asp-action="Create">Create New</a>
                    </p>
                </td>
            </tr>
        }
    </tbody>

</table>
